.container {
    text-align: center;
    margin-top: 15%;

    .title {
        font-size: 70px;
        margin-bottom: 5%;
    }

    .row {
        width: 50%;
        margin-left: 25%;
        display: flex;
        justify-content: space-around; 
         
        a {
            color: transparent;
        }
    }
}